<!DOCTYPE html>
<html>
<head>
  <title>Extract emails</title>
</head>
<body>
  <form action="/parse" method="post">
    Pase text here: <br>
    <textarea name="emails" cols="100" rows="15"></textarea>
    <br>
    <input type="submit" value="Parse">
  </form>
</body>
